@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap");
html {
  box-sizing: border-box; }
  html *, html *:after, html *:before {
    box-sizing: inherit; }

h2 {
  font-weight: 300; }

.company-image {
  grid-area: company-image; }

.company-details {
  grid-area: company-details; }

.partners {
  grid-area: partners; }

.mobileNavShown {
  left: calc(100% - 350px) !important; }

body {
  margin: 0;
  position: relative;
  overflow-x: hidden;
  font-family: 'poppins', sans-serif;
  font-weight: 300; }
  body .main-wrapper {
    position: absolute;
    width: 80%;
    margin: 0 10%;
    overflow: hidden; }
    body .main-wrapper header {
      z-index: 2;
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      background-color: white; }
      body .main-wrapper header .logo {
        grid-area: logo; }
        body .main-wrapper header .logo img {
          width: 130px;
          object-fit: contain; }
      body .main-wrapper header .heading {
        font-size: 12px;
        text-align: center; }
      body .main-wrapper header .contact-info-wrapper .contact-info {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        font-size: 12px; }
      body .main-wrapper header #menu {
        flex: 4;
        display: flex;
        justify-content: flex-end; }
      body .main-wrapper header .desktop-nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: #BE1441; }
        body .main-wrapper header .desktop-nav a {
          text-decoration: none;
          color: #fff;
          padding: 10px 0; }
    body .main-wrapper .big-image {
      margin: 50px 0;
      width: 100%;
      height: auto;
      margin-top: 25px; }
      body .main-wrapper .big-image img {
        width: 100%;
        object-fit: contain; }
    body .main-wrapper #products {
      width: 100%; }
      body .main-wrapper #products h2 {
        text-align: center; }
      body .main-wrapper #products .swiper-container {
        width: 100%;
        height: 100%;
        margin: 50px 0; }
        body .main-wrapper #products .swiper-container .swiper-slide {
          text-align: center;
          font-size: 14px;
          background: #fff;
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center; }
          body .main-wrapper #products .swiper-container .swiper-slide .product {
            width: 280px;
            height: 280px; }
            body .main-wrapper #products .swiper-container .swiper-slide .product img {
              width: 100%;
              height: 200px;
              object-fit: cover;
              margin-bottom: 15px; }
    body .main-wrapper .company {
      width: 100%;
      margin: 25px 0;
      margin-bottom: 30px; }
      body .main-wrapper .company h2 {
        text-align: center;
        font-weight: 300; }
      body .main-wrapper .company .company-image {
        width: 50%;
        float: left;
        margin-right: 25px; }
        body .main-wrapper .company .company-image img {
          width: 100%;
          object-fit: contain;
          border-radius: 15px; }
      body .main-wrapper .company .workspace {
        margin-top: 30px;
        width: 80%;
        font-weight: 300;
        margin: 0 10%;
        display: flex;
        flex-direction: column; }
        body .main-wrapper .company .workspace div {
          display: flex; }
          body .main-wrapper .company .workspace div span {
            margin: 5px 0; }
            body .main-wrapper .company .workspace div span:first-child {
              flex: 3; }
            body .main-wrapper .company .workspace div span:nth-child(2) {
              flex: 1; }
            body .main-wrapper .company .workspace div span:last-child {
              flex: 8; }
          body .main-wrapper .company .workspace div .child {
            width: 100%;
            display: flex;
            flex-direction: column; }
            body .main-wrapper .company .workspace div .child span:first-child {
              flex: 16; }
            body .main-wrapper .company .workspace div .child span:nth-child(2) {
              flex: 1; }
            body .main-wrapper .company .workspace div .child div {
              flex: 2; }
    body .main-wrapper .factory {
      display: none;
      width: 100%;
      height: 200px;
      margin: 25px 0; }
      body .main-wrapper .factory img {
        width: 100%;
        height: 100%;
        object-fit: contain; }
  body .mobile-nav {
    bottom: 0;
    z-index: 1;
    width: 350px;
    background-color: orange;
    position: fixed;
    left: 100%;
    transition: left 0.5s ease-in-out; }

@media (min-width: 1301px) {
  #menu {
    display: none !important; }
  .contact-info-wrapper {
    flex: 4; }
  .logo {
    flex: 1; }
  .heading {
    flex: 4; }
    .heading div {
      width: 300px;
      margin: 0 auto; } }

@media (max-width: 1300px) {
  .contact-info {
    display: none !important; }
  .desktop-nav {
    display: none !important; }
  .heading {
    width: 100%; } }
